.chatAll {
    position: relative;
    background-color: #33FF99;
    height: 100%;
    width: 100%;
}

.ChatRoomContainer h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    background: #33FF99;
    margin-top: 0%;
}

.ChatRoomContainer {
    width: 100vw;
    background: #33FF99;
    display: inline-block;
    max-height: 100%;
}

.ChatRoomLinkContainer {
    position: relative;
    top: 100px;
    left: 25%;
    width: 50%;
    justify-content: center;
    margin-bottom: 100%;
}

.ChatRoomLinkBox {
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    padding-top: 3%;
    height: 40%;
    width: 30vw;
    height: 10vh;
    background: #FFFAFA;
    border-radius: 8px;
}

.ChatRoomLinkBox :focus {
    background: #FFFFCC;
}

.ChatRoomTextBox {
    position: absolute;
    top: 25px;
    left: 25%;
}

.ChatRoomTextButtonP {
    position: absolute;
    top: 155px;
    left: 68%;
}

.ErrorMessage {
    position: absolute;
    left: 45%;
    top: 13%;
}