.chatAll {
    position: relative;
    background-color: #33FF99;
    height: 100%;
    width: 100%;
}

.ChatRoomContainer h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    background: #33FF99;
}

.ChatRoomContainer {
    width: 100vw;
    display: inline-block;
    max-height: 100%;
}

.ChatRoomLinkContainer {
    position: relative;
    top: 100px;
    left: 25%;
    width: 50%;
    justify-content: center;
    margin-bottom: 100%;
}

.ChatRoomLinkBox {
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    padding-top: 3%;
    height: 40%;
    width: 30vw;
    height: 10vh;
    background: #FFFAFA;
    border-radius: 8px;
}

.ChatRoomLinkBox :focus {
    background: #FFFFCC;
}

.ChatRoomTextBox {
    position: absolute;
    top: 25px;
    left: 25%;
}

.ChatRoomTextButtonP {
    position: absolute;
    top: 155px;
    left: 68%;
}

.ErrorMessage {
    position: absolute;
    left: 55px;
    top: 13px;
}

@media screen and (max-width:320px) {
    .chatAll {
        position: relative;
        background-color: #33FF99;
        height: 100%;
        width: 100%;
    }
    .ChatRoomContainer h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
        background: #33FF99;
        margin-top: 0%;
    }
    .ChatRoomContainer {
        width: 100vw;
        background: #33FF99;
        display: inline-block;
        max-height: 100%;
    }
    .ChatRoomLinkContainer {
        position: relative;
        top: 100px;
        left: 9%;
        width: 50%;
        justify-content: center;
        margin-bottom: 100%;
    }
    .ChatRoomLinkBox {
        margin: 0 auto;
        margin-top: 60px;
        text-align: center;
        padding-top: 3%;
        height: 40%;
        width: 30vw;
        height: 10vh;
        background: #FFFAFA;
        border-radius: 8px;
    }
    .ChatRoomLinkBox :focus {
        background: #FFFFCC;
    }
    .ChatRoomTextBox {
        position: absolute;
        top: 17px;
        left: 10%;
        width: 60%;
    }
    .ChatRoomTextButtonP {
        position: absolute;
        top: 140px;
        left: 68%;
    }
    .ErrorMessage {
        position: absolute;
        left: 27%;
        top: 13%;
    }
}

@media screen and (max-width:568px) and (orientation:landscape) {
    .chatAll {
        position: relative;
        background-color: #33FF99;
        height: 100%;
        width: 100%;
    }
    .ChatRoomContainer h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
        background: #33FF99;
        margin-top: 0%;
    }
    .ChatRoomContainer {
        width: 100vw;
        background: #33FF99;
        display: inline-block;
        max-height: 100%;
    }
    .ChatRoomLinkContainer {
        position: relative;
        top: 100px;
        left: 9%;
        width: 50%;
        justify-content: center;
        margin-bottom: 100%;
    }
    .ChatRoomLinkBox {
        margin: 0 auto;
        margin-top: 60px;
        text-align: center;
        padding-top: 3%;
        height: 40%;
        width: 30vw;
        height: 10vh;
        background: #FFFAFA;
        border-radius: 8px;
    }
    .ChatRoomLinkBox :focus {
        background: #FFFFCC;
    }
    .ChatRoomTextBox {
        position: absolute;
        top: 17px;
        left: 10%;
        width: 58%;
    }
    .ChatRoomTextButtonP {
        position: absolute;
        top: 138px;
        left: 60%;
    }
    .ErrorMessage {
        position: absolute;
        left: 27%;
        top: 13%;
    }
}

@media screen and (max-width:640px) and (orientation:landscape) {
    .chatAll {
        position: relative;
        background-color: #33FF99;
        height: 100%;
        width: 100%;
    }
    .ChatRoomContainer h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
        background: #33FF99;
        margin-top: 0%;
    }
    .ChatRoomContainer {
        width: 100vw;
        background: #33FF99;
        display: inline-block;
        max-height: 100%;
    }
    .ChatRoomLinkContainer {
        position: relative;
        top: 100px;
        left: 9%;
        width: 50%;
        justify-content: center;
        margin-bottom: 100%;
    }
    .ChatRoomLinkBox {
        margin: 0 auto;
        margin-top: 60px;
        text-align: center;
        padding-top: 3%;
        height: 40%;
        width: 30vw;
        height: 10vh;
        background: #FFFAFA;
        border-radius: 8px;
    }
    .ChatRoomLinkBox :focus {
        background: #FFFFCC;
    }
    .ChatRoomTextBox {
        position: absolute;
        top: 5px;
        left: 13%;
        width: 58%;
    }
    .ChatRoomTextButtonP {
        position: absolute;
        top: 114px;
        left: 65%;
    }
    .ErrorMessage {
        position: absolute;
        left: 27%;
        top: 8%;
    }
}

@media screen and (max-width:736px) and (orientation:landscape) {
    .chatAll {
        position: relative;
        background-color: #33FF99;
        height: 100%;
        width: 100%;
    }
    .ChatRoomContainer h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
        background: #33FF99;
        margin-top: 0%;
    }
    .ChatRoomContainer {
        width: 100vw;
        background: #33FF99;
        display: inline-block;
        max-height: 100%;
    }
    .ChatRoomLinkContainer {
        position: relative;
        top: 100px;
        left: 9%;
        width: 50%;
        justify-content: center;
        margin-bottom: 100%;
    }
    .ChatRoomLinkBox {
        margin: 0 auto;
        margin-top: 60px;
        text-align: center;
        padding-top: 3%;
        height: 40%;
        width: 30vw;
        height: 10vh;
        background: #FFFAFA;
        border-radius: 8px;
    }
    .ChatRoomLinkBox :focus {
        background: #FFFFCC;
    }
    .ChatRoomTextBox {
        position: absolute;
        top: 5px;
        left: 13%;
        width: 58%;
    }
    .ChatRoomTextButtonP {
        position: absolute;
        top: 114px;
        left: 64%;
    }
    .ErrorMessage {
        position: absolute;
        left: 27%;
        top: 8%;
    }
}

@media screen and (max-width:812px) and (orientation:landscape) {
    .chatAll {
        position: relative;
        background-color: #33FF99;
        height: 100%;
        width: 100%;
    }
    .ChatRoomContainer h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
        background: #33FF99;
        margin-top: 0%;
    }
    .ChatRoomContainer {
        width: 100vw;
        background: #33FF99;
        display: inline-block;
        max-height: 100%;
    }
    .ChatRoomLinkContainer {
        position: relative;
        top: 100px;
        left: 9%;
        width: 50%;
        justify-content: center;
        margin-bottom: 100%;
    }
    .ChatRoomLinkBox {
        margin: 0 auto;
        margin-top: 60px;
        text-align: center;
        padding-top: 3%;
        height: 40%;
        width: 30vw;
        height: 10vh;
        background: #FFFAFA;
        border-radius: 8px;
    }
    .ChatRoomLinkBox :focus {
        background: #FFFFCC;
    }
    .ChatRoomTextBox {
        position: absolute;
        top: 5px;
        left: 13%;
        width: 58%;
    }
    .ChatRoomTextButtonP {
        position: absolute;
        top: 114px;
        left: 64%;
    }
    .ErrorMessage {
        position: absolute;
        left: 27%;
        top: 9%;
    }
}

@media screen and (max-width:360px) {
    .chatAll {
        position: relative;
        background-color: #33FF99;
        height: 100%;
        width: 100%;
    }
    .ChatRoomContainer h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
        background: #33FF99;
        margin-top: 0%;
    }
    .ChatRoomContainer {
        width: 100vw;
        background: #33FF99;
        display: inline-block;
        max-height: 100%;
    }
    .ChatRoomLinkContainer {
        position: relative;
        top: 100px;
        left: 9%;
        width: 50%;
        justify-content: center;
        margin-bottom: 100%;
    }
    .ChatRoomLinkBox {
        margin: 0 auto;
        margin-top: 60px;
        text-align: center;
        padding-top: 3%;
        height: 40%;
        width: 30vw;
        height: 10vh;
        background: #FFFAFA;
        border-radius: 8px;
    }
    .ChatRoomLinkBox :focus {
        background: #FFFFCC;
    }
    .ChatRoomTextBox {
        position: absolute;
        top: 17px;
        left: 10%;
        width: 60%;
    }
    .ChatRoomTextButtonP {
        position: absolute;
        top: 140px;
        left: 68%;
    }
    .ErrorMessage {
        position: absolute;
        left: 23%;
        top: 11%;
    }
}

@media screen and (max-width:375px) {
    .chatAll {
        position: relative;
        background-color: #33FF99;
        height: 100%;
        width: 100%;
    }
    .ChatRoomContainer h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
        background: #33FF99;
        margin-top: 0%;
    }
    .ChatRoomContainer {
        width: 100vw;
        background: #33FF99;
        display: inline-block;
        max-height: 100%;
    }
    .ChatRoomLinkContainer {
        position: relative;
        top: 100px;
        left: 9%;
        width: 50%;
        justify-content: center;
        margin-bottom: 100%;
    }
    .ChatRoomLinkBox {
        margin: 0 auto;
        margin-top: 60px;
        text-align: center;
        padding-top: 3%;
        height: 40%;
        width: 30vw;
        height: 10vh;
        background: #FFFAFA;
        border-radius: 8px;
    }
    .ChatRoomLinkBox :focus {
        background: #FFFFCC;
    }
    .ChatRoomTextBox {
        position: absolute;
        top: 17px;
        left: 10%;
        width: 60%;
    }
    .ChatRoomTextButtonP {
        position: absolute;
        top: 140px;
        left: 68%;
    }
    .ErrorMessage {
        position: absolute;
        left: 23%;
        top: 11%;
    }
}

@media screen and (max-width:480px) {
    .chatAll {
        position: relative;
        background-color: #33FF99;
        height: 100%;
        width: 100%;
    }
    .ChatRoomContainer h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
        background: #33FF99;
        margin-top: 0%;
    }
    .ChatRoomContainer {
        width: 100vw;
        background: #33FF99;
        display: inline-block;
        max-height: 100%;
    }
    .ChatRoomLinkContainer {
        position: relative;
        top: 200px;
        left: 9%;
        width: 50%;
        justify-content: center;
        margin-bottom: 100%;
    }
    .ChatRoomLinkBox {
        margin: 0 auto;
        margin-top: 60px;
        text-align: center;
        padding-top: 3%;
        height: 40%;
        width: 30vw;
        height: 10vh;
        background: #FFFAFA;
        border-radius: 8px;
    }
    .ChatRoomLinkBox :focus {
        background: #FFFFCC;
    }
    .ChatRoomTextBox {
        position: absolute;
        top: 17px;
        left: 10%;
        width: 60%;
    }
    .ChatRoomTextButtonP {
        position: absolute;
        top: 140px;
        left: 68%;
    }
    .ErrorMessage {
        position: absolute;
        left: 23%;
        top: 100px;
    }
}

@media screen and (min-width:768px) {
    .chatAll {
        position: relative;
        background-color: #33FF99;
        height: 100%;
        width: 100%;
    }
    .ChatRoomContainer h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 44px;
        background: #33FF99;
        margin-top: 0%;
    }
    .ChatRoomContainer {
        width: 100vw;
        background: #33FF99;
        display: inline-block;
        max-height: 100%;
    }
    .ChatRoomLinkContainer {
        position: relative;
        top: 160px;
        left: 7%;
        width: 50%;
        justify-content: center;
        margin-bottom: 100%;
    }
    .ChatRoomLinkBox {
        margin: 0 auto;
        margin-top: 60px;
        text-align: center;
        padding-top: 3%;
        height: 40%;
        width: 30vw;
        height: 10vh;
        background: #FFFAFA;
        border-radius: 8px;
    }
    .ChatRoomLinkBox :focus {
        background: #FFFFCC;
    }
    .ChatRoomTextBox {
        position: absolute;
        top: 17px;
        left: 14.4%;
        width: 60%;
    }
    .ChatRoomTextButtonP {
        position: absolute;
        top: 140px;
        left: 68%;
    }
    .ErrorMessage {
        font-size: 25px;
        position: absolute;
        left: 200px;
        top: 200px;
    }
}

@media screen and (min-width:1024px) {
    .chatAll {
        position: relative;
        background-color: #33FF99;
        height: 100%;
        width: 100%;
    }
    .ChatRoomContainer h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 44px;
        background: #33FF99;
        margin-top: 0%;
    }
    .ChatRoomContainer {
        width: 100vw;
        background: #33FF99;
        display: inline-block;
        max-height: 100%;
    }
    .ChatRoomLinkContainer {
        position: relative;
        top: 160px;
        left: 7%;
        width: 50%;
        justify-content: center;
        margin-bottom: 100%;
    }
    .ChatRoomLinkBox {
        margin: 0 auto;
        margin-top: 60px;
        text-align: center;
        padding-top: 3%;
        height: 40%;
        width: 30vw;
        height: 10vh;
        background: #FFFAFA;
        border-radius: 8px;
    }
    .ChatRoomLinkBox :focus {
        background: #FFFFCC;
    }
    .ChatRoomTextBox {
        position: absolute;
        top: 17px;
        left: 14.4%;
        width: 60%;
    }
    .ChatRoomTextButtonP {
        position: absolute;
        top: 140px;
        left: 68%;
    }
    .ErrorMessage {
        font-size: 25px;
        position: absolute;
        left: 300px;
        top: 200px;
    }
}

@media screen and (min-width:1366px) {
    .chatAll {
        position: relative;
        background-color: #33FF99;
        height: 100%;
        width: 100%;
    }
    .ChatRoomContainer h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 44px;
        background: #33FF99;
        margin-top: 0%;
    }
    .ChatRoomContainer {
        width: 100vw;
        background: #33FF99;
        display: inline-block;
        max-height: 100%;
    }
    .ChatRoomLinkContainer {
        position: relative;
        top: 160px;
        left: 7%;
        width: 50%;
        justify-content: center;
        margin-bottom: 100%;
    }
    .ChatRoomLinkBox {
        margin: 0 auto;
        margin-top: 60px;
        text-align: center;
        padding-top: 3%;
        height: 40%;
        width: 30vw;
        height: 10vh;
        background: #FFFAFA;
        border-radius: 8px;
    }
    .ChatRoomLinkBox :focus {
        background: #FFFFCC;
    }
    .ChatRoomTextBox {
        position: absolute;
        top: 17px;
        left: 14.4%;
        width: 60%;
    }
    .ChatRoomTextButtonP {
        position: absolute;
        top: 134px;
        left: 64%;
    }
    .ErrorMessage {
        font-size: 25px;
        position: absolute;
        left: 700px;
        top: 190px;
        margin-top: 0%;
    }
}